<div>
    {% for server in servers %}
    
    <div>
        {% if request.user == server.owner %}
        <a href="{% url 'update-server' server.id %}">Edit</a>
        <a href="{% url 'delete-server' server.id %}">Delete</a>
        {% endif %}

        
        <a href="{% url 'user-profile' server.owner.id %}">@{{ server.owner.username }}</span>
        <h4>{{ server.id }} -- <a href="{% url 'server' server.id %}">{{ server.name }}</a> </h4>

        {% if request.user not in server.members.all %}
        <a href="{% url 'join-server' server.id%}">Join</a>
        {% else %}
        <button disabled>Joined</button>
        {% endif %}


        <small>{{ server.topic }}</small>
        <hr>
    </div>
    
    {% endfor %}
</div>