{% extends "main.html" %}


{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>
 
<!-- <h1>HOME PAGEA</h1> -->

<div class="home-container">

    <div>
        <h2>Browse</h2>
        <hr>

        <div>   
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for topic in topics %}
        <div>   
            <a href="{% url 'home' %}?nam={{topic.name}}">{{ topic.name }}</a>
        </div>

        {% endfor %}

    </div>

    <div>
        <h5>{{server_count}} servers found </h5>
        <a href="{% url 'create-server' %}">Create Server</a>
        
        <div>
            {% for server in servers %}
            
            <div>
                <a href="{% url 'update-server' server.id %}">Edit</a>
                <a href="{% url 'delete-server' server.id %}">Delete</a>
                <span>@{{ server.owner.username }}</span>
                <h4>{{ server.id }} -- <a href="{% url 'server' server.id %}"> {{ server.name }} </a></h4>
                <small>{{ server.topic }}</small>
                <hr>
            </div>
            
            {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}
