{% extends "main.html" %}


{% block content %}
 
<h1>HOME PAGEA</h1>

<div>

    <a href="{% url 'create-server' %}">Create Server</a>
    
    <div>
        {% for server in servers %}
        
        <div>
            <a href="{% url 'update-server' server.id %}">Edit</a>
            <a href="{% url 'delete-server' server.id %}">Delete</a>
            <span>@{{ server.owner.username }}</span>
            <h4>{{ server.id }} -- <a href="{% url 'server' server.id %}"> {{ server.name }} </a></h4>
            <small>{{ server.topic }}</small>
            <hr>
        </div>
        
        {% endfor %}
    </div>

</div>

{% endblock content %}
