
{% extends 'main.html' %}

{% block content %}

<style>
    .server-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="server-container">

    <div>

        <h1>{{ server.name }}</h1>
        
        <small>{{ server.description }} </small>
        
        <div class="message-wrapper">
            <h3>Messages</h3>
            <hr>
            
            {% for message in msgs %}
            <div>
                <small>@{{ message.user }} {{ message.created | timesince }} ago</small> <!-- timesince is a filter to provide time from creation to current time -->
                <p>{{ message.body }}</p>
                <hr>
            </div>
            {% endfor %}
            
        </div>
        
        {% if request.user.is_authenticated and request.user in server.members.all %}

        
        <div class="message-form">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="body" id="" placeholder="Write your message here..."/>
            </form>
        </div>

        <a href="{% url 'leave-server' server.id%}">Leave</a>

        {% elif request.user.is_authenticated and request.user not in server.members.all %}

        <input type="text" name="" id="" placeholder="Have to be a member to write in the chat..." readonly>

        <a href="{% url 'join-server' server.id%}">Join</a>

        {% else %}
        <input type="text" name="" id="" placeholder="Have to be logged in and a member to write in the chat..." readonly>
        
        <a href="{% url 'join-server' server.id%}">Join</a>

        {% endif %}
    </div>

    <div>
        <h3>Members</h3>
        <hr>

        {% for member in members %}
        <div>
            <p>@{{ member.username }}</p>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock content %}
    